


.loading-text {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    padding-top: 32px;
}

.dashboard-container {
    display: flex;
    height: 100%;
}



/* ----- SIDEBAR ----- */

.dashboard-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    flex-basis: 300px;
    text-align: center;
    padding: 16px 0 48px 0;
    box-shadow: 0px 0px 10px 0px #6d6d6d;
    z-index: 30;
}


.dashboard-sidebar nav {
    width: 100%;
}

.dashboard-list {
    width: 100%;
    list-style: none;
    padding: 36px 0;
}

.dashboard-list-item {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
}

.dashboard-list-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.dashboard-sidebar button, .dashboard-button {
    color: #ed8b4f;
    background-color: #fff;
    outline: 1px solid #ed8b4f;
    margin-top: 16px;
}

.dashboard-sidebar button:hover,
.dashboard-button:hover {
    border-color: #ed8b4f;
    background-color: #ed8b4f;
    color: #fff;
    transition: all .3s ease-out;
}

.dashboard-selected-list-item {
    border-left: 5px solid #ed8b4f;
    color: #ed8b4f;
    background-color: #f8f8f8;
}





/* ----- MAIN ----- */

.dashboard-main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 600px;
    flex-grow: 5;
    padding-right: 36px;
    padding-bottom: 36px;
}

.dashboard-header {
    background: #fff;
    padding: 32px 24px;
}

.dashboard-main {
    flex-grow: 1;
    background-color: #f0f0f0;
    padding: 16px;
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-height: 700px;
}





/* MY-DASHBOARD COMPONENT */

.dashboard-user-data {
    list-style: none;
    padding: 12px;
}

.dashboard-user-data h4 {
    font-weight: normal;
    margin-bottom: 6px;
}

.dashboard-user-data li {
    margin-bottom: 24px;
}

.dashboard-user-data li p {
    color: #8e8e8e;
}

.dashboard-user-data li :is(p, input) {
    display: block;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 12px;
    min-height: 2.7rem;
    line-height: 2rem;
    padding: 6px 12px;
    outline: none;
    border: none;
}

.dashboard-user-data a {
    color: #ed8b4f;
}

.dashboard-user-data a:hover {
    color: rgb(255, 109, 24);
}

.error-message {
    color: #e34;
}

.success-message {
    color: #2d6;
}

.change-password {
    margin-bottom: 12px;
}


/* BOOKED SESSIONS COMPONENT */

.dashboard-session-container, .update-working-schedule  {
    background-color: #f8f8f8;
    padding: 16px 12px;
    border-radius: 12px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 16px 24px;
}

.dashboard-session-container {
    margin-top: 24px;
    margin-bottom: 24px;
}


.dashboard-session-container h4 {
    font-weight: normal;
    margin-bottom: 12px;
}

.dashboard-session .dashboard-button {
    margin: 0;
    padding: 6px 8px;
}

.dashboard-session-details {
    display: flex;
    flex-grow: 1;
    gap: 16px;
    align-items: center;
}

.dashboard-session-details p {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;

}











/* WORKING-SCHEDULE COMPONENT */

.current-working-schedule {
    display: flex;
    align-items: center;
    gap: 16px;
}


.update-working-schedule p {
    margin-top: 16px;
}

.update-working-schedule [type="checkbox"]:checked + span {
  color: #ed8b4f;
  font-weight: bold;
}

.update-working-schedule span:hover {
  color: #ed8b4f;
  font-weight: bold;
}

.update-working-schedule span::selection {
  background-color: transparent;
}


.trainerDays, #working-schedule {
    margin-top: 12px;
    margin-bottom: 12px;
}

#working-schedule {
    display: flex;
    gap: 12px;
    align-items: center;
}

.startTime, .endTime {
    flex-grow: 1;
}

#working-schedule input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.trainerDays label {
    background-color: #fff;
}

.trainerDays label {
    min-width: 8rem;
    max-width: 10rem;
}

.update-working-schedule button {
    display: block;
    margin: auto;
    margin-bottom: 16px;
}


