*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
}


.pageContainer {
    background: #282828;
    min-height: 100vh;
    padding-bottom: 16px;
}


.navbar-logo-container {
    padding-top: 20px ;
    text-align: center;
    display: block;
}

.loginLogo {
    height: 120px;
    border-radius: 16px;
}